.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.8em;
}

h1,h2,h3,h5 {
    color: green;
}

h4 {
    color: gray;
}

h2,h3,h4,h5 {
    font-weight:normal;
}

.number {
    font-size: 1.3em;
}

#status-time {
    font-size: smaller;
}

#tumblr { position:relative; width:250px; height:188px; }
#tumblr img { position:absolute; left:0; top:0; width:250px; height:188px; border: 1px solid lightblue;}

.otvoren {
    background-color: #33cc33;
}



